src/main/mule/format-date-dw2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f6375239-0192-4dba-9a1e-986cf144932a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="format-date-dw2-flow" doc:id="fc3b90e0-ec84-406b-b292-88e11265ffd8" >
		<http:listener doc:name="Listener" doc:id="b5291044-96a6-4fb2-87ea-14e0efb0a61e" config-ref="HTTP_Listener_config" path="/dw2test"/>
		<ee:transform doc:name="Transform Message" doc:id="72591c0e-c44c-4dc6-b18d-f9f487864fee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0 
output application/json 
fun format(df: DateTime) = df as String {format: "yyyy-MM-dd"} 
--- 
{ 
    CreatedDateTime: format("2019-02-13T13:23:00.120Z")
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger[payload]" doc:id="5d977f01-7d7f-402e-9642-f8e338fc2b29" message="#[payload]"/>
	</flow>
</mule>
